@model IEnumerable<AspNetCore.Models.Aluno>

<h2>Lista de Alunos</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>Curso</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Matricula</td>
                <td>@item.Curso</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil"></i> Atualizar
                    </a>
                    <a asp-action="Excluir" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i> Excluir
                    </a>

            </tr>
        }
    </tbody>
</table>